html {
    width: 100%;
}

body {
    padding-top: 5px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#search {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

    #search input {
        display: inline;
    }


@media screen and (min-width: 1px) and (max-width: 767px) {
    #columns[data-columns]::before {
        content: '2 .col-xs-12';
    }
}

@media screen and (min-width:768px) and (max-width: 991px) {
    #columns[data-columns]::before {
        content: '3 .col-sm-4';
    }
}

@media screen and (min-width:992px) and (max-width: 9999px) {
    #columns[data-columns]::before {
        content: '4 .col-md-3';
    }
}

.nav navbar-nav {
    margin: 3em;
    width: 100%;
}

#description {
    font-family: 'Comic Sans MS';
    margin: 4em;
}

#name {
    font-size: 2em;
    margin: 2em;
}

#img {
    width: 60%;
}

#heading {
    font-family: 'Comic Sans MS';
    font-size: 100em;
    position: relative;
    left: .03em;
}

#parkimage {
    float: left;
    margin: 3em;
}

.row {
    background-color: forestgreen;
    padding: 1em;
    width: auto;
}

#surveydescription {
    padding: 1.5em;
}

.form-group {
    padding: 2em;
}

    .form-group label {
        width: 20em;
        display: inline-block;
        /*vertical-align: top;*/
        /*padding-left: 2em;
        padding-top: 2em;*/
        /*padding-bottom: 2em;*/
    }
    .form-control{
        display: inline;
    }
    input{
        display:inline-block;
        width: 300px;
        margin: 0;
        /*text-align:start;*/
    }

#img2{
    width: 50em;
    float:right;
    right: 10em;
    opacity: .2;
    
}
.surveybody {
    /*background-image: url('Images/scenery.png');*/
    background: linear-gradient(rgba(255, 255, 255, .89), rgba(255, 255, 255, .8)), url('Images/scenery.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
form button{
    text-align: center;
    margin-left: 20em;
}

#state{
    font-size: .75em;
    margin-left: 1em;
}
#day{
    
    display: inline-block;
    padding: -1em;
}
#weatherImage{
    width: 30%;
}

#detailImage{
    float: left;
    margin: 2em;
}
.stats1{
    display: inline-block;
    max-width: 60%
}
.weathercontainer{
    min-height: 100%;
    max-width: 35%;
    display:inline-block;
    position: relative;
    left: 30em;
    float: right;
}